name: Build FAP for Multiple Firmwares

on:
  push:
    branches:
      - main
      - master
      - dev
  pull_request:
    branches:
      - main
      - master
      - dev
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "Official FW"
            sdk_channel: "release"
          - name: "Unleashed FW"
            sdk_channel: "dev"
          - name: "RogueMaster FW"
            sdk_channel: "dev"
          - name: "Momentum FW"
            sdk_channel: "dev"

    name: Build for ${{ matrix.name }}
    
    steps:
      - name: Checkout app code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Cache ufbt SDK
        uses: actions/cache@v4
        with:
          path: |
            ~/.ufbt
          key: ${{ runner.os }}-ufbt-${{ matrix.sdk_channel }}-${{ hashFiles('sd_spi/application.fam') }}
          restore-keys: |
            ${{ runner.os }}-ufbt-${{ matrix.sdk_channel }}-

      - name: Install ufbt
        run: |
          python3 -m pip install --upgrade ufbt

      - name: Update ufbt SDK
        run: |
          ufbt update --channel=${{ matrix.sdk_channel }}

      - name: Build FAP
        run: |
          cd sd_spi
          ufbt build

      - name: Get app version
        id: version
        run: |
          cd sd_spi
          echo "version=$(grep -oP "fap_version=\(\K[0-9]+,\s*[0-9]+" application.fam | tr -d ' ' | tr ',' '.')" >> $GITHUB_OUTPUT

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: sd_spi_${{ matrix.name }}_${{ steps.version.outputs.version }}
          path: |
            sd_spi/dist/*.fap
          if-no-files-found: error
