---
name: Build FAP with Official SDK

"on":
  push:
    branches:
      - main
      - master
      - dev
  pull_request:
    branches:
      - main
      - master
      - dev
  workflow_dispatch:
  workflow_run:
    workflows: ["Lint Code Base"]
    types:
      - completed

jobs:
  build:
    runs-on: ubuntu-latest
    if: >-
      github.event_name != 'workflow_run' ||
      github.event.workflow_run.conclusion == 'success'
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "Official-Release"
            sdk-channel: "release"
          - name: "Official-Dev"
            sdk-channel: "dev"
          - name: "Official-RC"
            sdk-channel: "rc"

    name: Build for ${{ matrix.name }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build with ufbt
        uses: flipperdevices/flipperzero-ufbt-action@v0.1
        id: build-app
        with:
          sdk-channel: ${{ matrix.sdk-channel }}
          app-dir: sd_spi

      - name: Upload app artifacts
        uses: actions/upload-artifact@v4
        with:
          name: >-
            ${{ github.event.repository.name }}-${{ matrix.name }}-${{
            steps.build-app.outputs.suffix }}
          path: ${{ steps.build-app.outputs.fap-artifacts }}
          if-no-files-found: error

  # lint:
  #   runs-on: ubuntu-latest
  #   permissions:
  #     contents: read
  #   name: Lint sources
  #
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v4
  #
  #     - name: Lint with ufbt
  #       uses: flipperdevices/flipperzero-ufbt-action@v0.1
  #       with:
  #         sdk-channel: dev
  #         app-dir: sd_spi
  #         task: lint
